/*****     主页样式表      *****/
html{
	height: 100%;
}
boby{
	font: 14px "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;

}
/*------------------------------header---------------------------*/
/*设置header宽度1200px 居中页面*/
.header{
	height: 100px;
	width: 100%;
	margin: 0 auto;
	float: left;
}

/*设置头部导航的宽度*/
.header-nav{
	height: 100px;
	width: 1300px;
	margin: 0 auto;
}

/*header 左边DIV*/
.header-left{
	height: 100%;
	float: left;
}

/*header 右边DIV*/
.header-right{
	height: 100px;
	float: right;
}

/*设置logo*/
.header .img-logo{
	float: left;
	height:24px ;
	width:20px ;
	line-height: 100px;
}

/*设置个人设计网站*/
.title{
	font-size: 16px ;
	float: left;
	line-height: 100px;
	margin-left: 14px;
}

/*设置nav右边浮动*/
.banner-nav li{
	float: right;
	line-height: 100px;
}

/*导航文字移入效果*/
.banner-nav a:hover{
	color: #666666;
}



/*设置右边边距*/
.about-me{
	padding-left:58px ;
}






/*------------------------------banner---------------------------*/
/*设置banner背景底纹*/
.banner{
	background-image: url(../img/graphy.png);
	background-position: center;
	height: 700px;
	width: 100%;
}


/*设置banner中文字的区域，宽高，上边距 文字字体大小、颜色、加粗*/
.banner-font{
	width: 1300px;
	height: 300px;
	margin: 0 auto;
	font-size: 40px;
	color: #333;
	font-weight: bold;
	text-align: center;
}

/*设置文字font1 的字体大小颜色*/
.banner-font .font-left .font1{
	display: block;
	font-size: 14px;
	color: #999;
	letter-spacing: 3px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.banner-font .font-left{
	padding-top:200px;
}



/*设置文字font2的字体间距 上边距*/
.banner-font .font2{
	letter-spacing:10px;
	margin-top: 20px;
}

/*设置文字区域色块*/
.color-block{
	display: block;
	height: 10px;
	width: 35px;
	background: #333333;
	margin: 30px auto 0 auto;
}

/*设置文字font3*/
.banner-font .font3{
	letter-spacing:4px;
	margin-top: 14px;
}

/*设置文字font4*/
.banner-font .font4{
	font-size: 20px;
	letter-spacing:4px;
	margin-top: 30px;
}

/*为banner下方文字区域开启定位*/
.bottom-font{
	font-size: 12px;
	position: relative;
	color: #999;
	font-weight: 300;
}

/*为banner下方文字font5开启定位*/
.banner-font .font5{
	position: absolute;
	top: 188px;
}

/*为banner下方文字font6开启定位*/
.banner-font .font6{
	position: absolute;
	top: 188px;
	left: 600px;
}

/*为banner下方文字font6开启定位*/
.banner-font .font7{
	position: absolute;
	top: 188px;
	left: 1228px;
}


/*------------------------------content---------------------------*/
/*内容导航块*/
.content-nav{
	margin-top: 60px;
	width: 1300px;
	height: 52px;
	margin: 0 auto;
	margin-top:80px;
	font-size: 16px;
	color: #999;
}

/*内容区域导航块*/
.content-nav .an-li{
	width: 640px;
	height: 52px;
	margin: 0 auto;
}

/*内容区域导航 点击伪类*/
.content-nav .an-li a:hover{
	font-weight: bold;
	color: #333333;
}

/*内容区域导航浮动*/
.content-nav li{
	display: block;
	float: left;
	width: 180px;
}

.content-nav .all{
	display: block;
	width: 100px;
}

.an-li-left{
	display: block;
	text-align: center;
}

/*内容区域导航字体设置*/
.content-nav li a{
	display: block;
	color: #999;
	line-height: 52px;
	text-align: center;
	letter-spacing: 1px;
}

/*内容区域宽度*/
.content{
	width: 1300px;
	margin: 0 auto;
	margin-top: 40px;
}

/*内容左1 2*/
.content .content-box{
	height: 418px;
	width: 400px;
	float: left;
	margin:40px 16px;
	margin: 0 16px 60px 16px;
}

.content .content-box a{
	display: block;
}

/*图片大小 */
.content .box{
	height: 400px;
	width: 400px;
}

/*内容文字描述 */
.content-box .box-font,.content-box1 .box-font{
	font-size: 16px;
	text-align: center;
	padding-top: 20px;
}

/*content高度塌陷*/
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}






/*------------------------------footer---------------------------*/
/*footer宽高设置*/
.footer{
	width: 100%;
	height: 250px;
	margin-top: 150px;
	font-weight: 300;
	flex: 0 0 auto;
}

/*footer 内容区域*/
.footer-back{
	width: 1300px;
	height: 250px;
	margin: 0 auto;
}




/*footer线条*/
.footer .line{
	border-bottom: #e5e5e5 solid 1px;
}

/*footer左1内容块*/
.footer-nav-content1{
	margin-top: 42px;
	width: 300px;
	float: left;
}

/*footer左2内容块*/
.footer-nav-content2{
	margin-left: 100px;
	margin-top: 42px;
	width: 200px;
	height: 160px;
	float: left;
}

/*footer字体设置*/
.footer-font2{
	display: block;
	font-size: 14px;
	color:#666;
	margin-top: 20px;
	font-weight: 300;
	height: 40px;
}

/*footer字体设置*/
.footer-font1{
	font-size: 14px;
}

/*footer字体设置*/
.footer-font3{
	display: block;
	font-size: 14px;
	color:#666;
	margin-top: 40px;
	height: 35px;
	line-height: 20px;
}

/*网址移入变色*/
.font-www a:hover{
	color:#1970ff;
}

/*版权字体设置*/
.weixin{
	width: 440px;
	float: right;
}

/*微信图片设置*/
.img-weixin{
	float: right;
	margin-top: 42px;
}

/*版权字体设置*/
.copyright{
	display: block;
	float: right;
	margin-top: 30px;
	font-size: 14px;
	font-weight: 300;
	color:#666;
}


/*------------------------------about-me---------------------------*/
/*关于我们设置*/
.about-centent{
	width: 1300px;
	height: 560px;
	margin: 0 auto;
	margin-top: 40px;
	flex: 1 0 auto;

}

/*关于我们设置图片向左浮动*/
.about-img{
	float: left;
}

/*关于我们设置文字内容宽度*/
.about-centent-font{
	float: left;
	width: 700px;
	margin-top: 20px;
	margin-left: 100px;
}

/*关于我们设置h2 h3文字样式*/
.about-centent-font h2,h3{
	font-weight: bold;
	font-size: 20px;
	padding: 8px 0;
	letter-spacing: 3px;
}

/*关于我们设置分割线样式*/
.about-line{
	display: block;
	border-bottom: #e5e5e5 solid 1px;
}

/*关于我们设置p标签文字样式*/

.about-centent-font p{
	font-size: 14px;
	padding: 20px 0;
	letter-spacing: 3px;
	font-weight: 300;
	line-height: 30px;
}

/*内页宽度 居中*/
.content-page-main{
	width: 1300px;
	margin: 0 auto;
}

/*内页标题文字区域 */
.page-font{
	width: 100%;
	height: 60px;
	margin-top: 30px;
}

/*内页标题文字区域 */
.page-font .page-title{
	text-align: center;
	font-size: 20px;
	color: #333;
}

/*内页图片区域 */
.img-main img {
	max-width: 100%;

}

.img_main_box{
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
}
















